{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
{% endblock meta %}

{% block content %}
    <div id="bg1"></div>
    <div id="bg2"></div>
    {% include 'navbar.html' %}

    <div class="container-fluid" id="custom-container">
        <div class="row custom-section">
            <div class="col-12 col-lg-4">
                <h3>Reduce</h3>
                <h1>Recycle</h1>
                <h3>Reuse</h3>
                <div id="custom-description">
                    <h6>Introducing Re.cycle!</h6>
                    <p>
                        Sebuah platform yang memberikan informasi terkait
                        daur ulang sampah & mengajak masyarakat untuk
                        melakukan daur ulang sampah.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}