{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Register Page</title>
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
<link href="{% static 'css/register.css' %}" rel="stylesheet" />
{% endblock meta %}

{% block content %}
    {% include 'navbar.html' %}
    <div class = "register center p-lg-3">
        <div class="container p-xl-3">
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Ada yang salah dalam proses Registrasi. Silahkan coba lagi!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>
        <div class="container shadow bg-body rounded p-lg-5 register-wrapper">
            <div class="h1 mb-3 text-center">Register Page</div>
            <form action="{% url 'authentications:register_user' %}" method="POST">
                {% csrf_token %}
                <div class="username">
                    {{ form.username }}
                </div>
                <div class="password">
                    {{ form.password1 }}
                </div>
                <div class="retype-password">
                    {{ form.password2 }}
                </div>
                <div class="d-flex justify-content-center register-button">
                    <input type="submit" name="submit" value="register now" class="btn btn-hover">
                </div>
            </form>
            <p class="margin-set text-center">Already have an account?<a href="{% url 'authentications:login_user' %}" class="link"> Login now</a></p>
        </div>
    </div>

{% endblock content %}