@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.custom-nav {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-weight: 500;
    font-size: 1.1rem;
}

.custom-nav .navbar-collapse {
    margin-left: -2.4em;
}

.custom-nav .navbar-nav a {
    text-transform: uppercase;
    transition: 0.3s color ease;
}

.custom-nav .navbar-nav a:hover {
    color: #359f92;
    font-weight: 500;
}

.custom-nav .navbar-nav img {
    width: 90px;
    height: 102px;
    margin-top: 1em;
}

@media screen and (max-width: 992px) {
    .custom-collapse ul {
        margin-left: 2.4rem;
    }
}
