{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<link rel="stylesheet" href="\static\css\event-user.css">

<script src="\static\js\event-user.js"></script>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<br>

<div class="container-div">
  <div class="row">
    <div class="container-button d-flex justify-content-around  align-items-center">
      <a class="btn btn-primary text-sm" id="button-past-event">Event yang Telah Selesai</a>
      <a class="btn btn-primary" id="button-now-event">Event yang Sedang Berlangsung</a>
      <a class="btn btn-primary" id="button-upcoming-event">Event yang Akan Datang</a>
    </div>
  </div>
</div>

<section id="recently-viewed">
  <div class="container-recent-view d-flex  align-content-around flex-wrap">
    <div class="d-flex  flex-row  justify-content-center between align-item-center recent-view-header ">
      <div class=" d-flex justify-content-stretch align-item-center text-center event-dilihat">
        <div class="card p-2"  id="banner-event-terakhir-dilihat">
          <div class="card-body d-flex justify-content-between text-center " style="text-align: center;">
            <h1 class="d-flex  text-center"style="font-size:2rem;font-weight:1000; text-align:center;color: white;" >EVENT TERAKHIR DILIHAT</h1>
          </div>

        </div>
      </div>
      <div class="d-flex align-content-around flex-wrap" id="content-recently-viewed">
      

        <div class="">
          <div class="card p-2" style="width: 20rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 20rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content";"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm"  formaction="/forum/1"  style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i></button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>`
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 20rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

</section>


<section id="event-berlangsung" class="m-auto">
  <div class="container-event-now d-flex  align-content-around flex-wrap mx-auto">
    <div class="d-flex  flex-row  justify-content-center between align-item-center event-now-header ">
      <div class=" d-flex justify-content-stretch align-item-center text-center event-berlangsung">
        <div class="card p-2" style="width: 16rem;">
          <div class="card-body d-flex justify-content-between text-center " style="text-align: center;">
            <h1 class="d-flex  text-center"style="font-size:1.8rem;font-weight:1000; text-align:center;color: white;">EVENT SEDANG BERLANGSUNG</h1>
          </div>

        </div>
      </div>

      <div class="d-flex align-content-around flex-wrap " >
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content";"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm"  formaction="/forum/1"  style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i></button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>`
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>

<section id="event-akan-datang" class="m-auto">
  <div class="container-event-now d-flex  align-content-around flex-wrap mx-auto">
    <div class="d-flex  flex-row  justify-content-center between align-item-center event-now-header ">
      <div class=" d-flex justify-content-stretch align-item-center text-center event-akan-datang">
        <div class="card p-2" style="width: 16rem;">
          <div class="card-body d-flex justify-content-between text-center " style="text-align: center;">
            <h1 class="d-flex  text-center"style="font-size:2rem;font-weight:1000; text-align:center;color: white;">EVENT AKAN DATANG</h1>
          </div>

        </div>
      </div>

      <div class="d-flex align-content-around flex-wrap " >
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                  30/12/2022 - 15:34</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content";"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm"  formaction="/forum/1"  style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i></button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>`
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

</section>


<section id="event-selesai" class="m-auto">
  <div class="container-event-now d-flex  align-content-around flex-wrap mx-auto">
    <div class="d-flex  flex-row  justify-content-center between align-item-center event-now-header ">
      <div class=" d-flex justify-content-stretch align-item-center text-center event-selesai">
        <div class="card p-2" style="width: 16rem;">
          <div class="card-body d-flex justify-content-between text-center " style="text-align: center;">
            <h1 class="d-flex  text-center"style="font-size:2rem;font-weight:1000; text-align:center;color: white;">EVENT TELAH BERAKHIR</h1>
          </div>

        </div>
      </div>

      <div class="d-flex align-content-around flex-wrap " >
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div><div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, tempore?</h4>
              <div class="d-flex justify-content-between align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content";"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm"  formaction="/forum/1"  style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i></button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>`
          </div>
        </div>
        <div class="">
          <div class="card p-2" style="width: 16rem; font-size: 0.1rem;">
            <div class="card-body align-item-center justify-content-center">
              <h4 style="font-size: medium;">Mancing bersama Pak Ganjar</h4>
              <div class="d-flex justify-content-center align-items-center">
                <p style="font-size: small;" class="event-brief ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, porro.</p>
              </div>

              <div class="date-container d-flex flex-row align-item-center">
                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar"></i> <span id="text-mulai" style="font-size: small;">Start :</span>
                    10/10/2004 12:11</p> <br>
                </div>

                <div class="d-flex align-item-center">
                  <p class="p-text-date" style="font-size: small; width: fit-content;"> <i class="fa-regular fa-calendar-xmark"></i> <span id="text-selesai" style="font-size: small; width: fit-content;">Finish :</span> 10/10/2004 12:11</p>
                </div>
              </div>
            </div>

            <div class="card-command-button d-flex justify-content-around align-item-center">
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-solid fa-circle-info"> </i> </button>
              <button class="btn btn-sm" style="font-size: small; text-align: center; width: fit-content; "><i class="fa-sharp fa-solid fa-comment-dots"> </i> </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</section>

<section id="event-selesai" class="m-auto">
  <div class="container-event-now ">
    <div class="">
      <div class=" d-flex justify-content-stretch align-item-center text-center event-selesai">
        <div class="card p-2" style="width: 16rem;">
          <div class="card-body d-flex justify-content-between text-center " style="text-align: center;">
            <h1 class="d-flex  text-center"style="font-size:2rem;font-weight:1000; text-align:center;color: white;">EVENT TELAH BERAKHIR</h1>
          </div>
        </div>

        <div class="card p-2" style="width: 16rem;">
          <div class="card-body d-flex justify-content-between text-center " style="text-align: center;">
            <h1 class="d-flex  text-center"style="font-size:1.8rem;font-weight:1000; text-align:center;color: white;">BELUM ADA EVENT UNTUK WAKTU YANG AKAN DATANG :(</h1>
          </div>
      </div>

  
    </div>
  </div>
</section>

<button type="button" class="btn btn-primary" data-toggle="modal"  onClick="showModal(1)" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Show detail Event on Modal -->
<div class="modal fade" id="exampleModal" style="z-index: 999999999999999999;font-family: Poppins;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="input-isi-modal" role="document">
  </div>
</div>







{% endblock content %}