{% extends 'base.html' %}

{% block meta %}
<title>Forum</title>
<style>
    .card{
      background-color: #8beadf;
      transition: background-color 0.3s;
      margin: auto; 
      width: 70%;
    }
    .card:hover{
      background-color: #68dfd1;
    }
    .reply{
      margin: auto;
      height: 0;
      width: 70%;
      transition: height 0.4s;
      visibility: hidden;
    }
</style>
{% endblock meta %}

{% block content %}

<p>{{forum_data.create_date}}</p>
<p>{{forum_data.title}}</p>
<form method="POST" id="form0" onsubmit="return false;">
  {% csrf_token %}
  <input id="comment_text" type="text" name="comment_text" placeholder="Comment" class="form-control">
  <input type="submit" value="Submit" onclick="addComment(0)">
</form>
<div id="comments"></div>

<p class="text-secondary text-center">Sesi terakhir login: {{ last_login }}</p>

<script>
    var CSRF_TOKEN  = '{{ csrf_token }}'
    async function getComments() {
      return fetch('/forum/json/{{forum_data.id}}/').then((res) => res.json())
    }
  
    async function refreshComments() {

          document.getElementById("comments").innerHTML = ""
          const comments = await getComments()
          let htmlString = ``
          comments.forEach((item) => {
            htmlString += `\n<div id="comment${item.pk}" class="card shadow-lg">`
            htmlString += `\n <div class="card-header text-white" style="background-color: #359f92;">
                <div class="fw-bold">${item.fields.username}</div>`
            const date = new Date(`${item.fields.datetime}`)
            htmlString += `<div style="text-align:right">${date}</div>
            </div>`
            htmlString += `<div class="card-body">`
            if(item.fields.parent != null){
              htmlString += `\n<a class="card-text" href="#comment${item.fields.parent_pk}">Replying to ${item.fields.parent_username}</a>`
            }
            htmlString += `\n<p class="card-text">${item.fields.comment_text}</p>`
            htmlString += `\n<p class="card-text" align="right">
            <input id="button${item.pk}" type="button" class="btn btn-primary" value="Reply" onclick="toggleForm(${item.pk})">
            </p>`
            htmlString += `\n</div></div><br>`
            htmlString += `\n<form class="reply" method="POST" id="form${item.pk}" onsubmit="return false;">`
            htmlString += `\n<input type="hidden" name="csrfmiddlewaretoken" value="${CSRF_TOKEN}">`
            htmlString += `\n<input id="comment_text" type="text" name="comment_text" placeholder="Comment" class="form-control m-2">`
            htmlString += `\n<input type="submit" value="Submit" onclick="addComment(${item.pk})" class="m-2 btn btn-success">`
            htmlString += `\n</form>`
            htmlString += `<br>`
          })
          
          document.getElementById("comments").innerHTML = htmlString
    }
  
    function addComment(id) {
      fetch(`/forum/add/{{forum_data.id}}/${id}/`, {
            method: "POST",
            body: new FormData(document.querySelector(`#form${id}`))
        }).then(refreshComments)
      return false
    }

    function toggleForm(id) {
      const reply = document.getElementById(`form${id}`)
      const button = document.getElementById(`button${id}`)
      console.log(reply.style.visibility)
      if (reply.style.visibility == "hidden" || reply.style.visibility == ""){
        reply.style.visibility = "visible";
        reply.style.height = "100px";
        button.value = "Hide";
      }
      else {
        reply.style.height = "0";
        reply.style.visibility = "hidden";
        button.value = "Reply";
      }
      return false
    }

    refreshComments()
</script>

{% endblock content %}